<form #form="ngForm" (ngSubmit)="addBook()">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="book.title">
    </div>

    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name="author" [(ngModel)]="book.author">
    </div>

    <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="text" class="form-control" id="quantity" name="quantity" [(ngModel)]="book.quantity">
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price" name="price" [(ngModel)]="book.price">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="book.description">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>